<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consulta CEP</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Consultar CEP</h1>

<form action="/cep" method="get">
    <input type="text" name="cep" placeholder="Digite o CEP"/>
    <button type="submit">Buscar</button>
</form>
<p style="color:red" th:if="${erro}" th:text="${erro}"></p>
<h2>Endereços salvos</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>CEP</th>
        <th>Logradouro</th>
        <th>Cidade</th>
        <th>UF</th>
    </tr>

    <tr th:each="e : ${enderecos}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.cep}"></td>
        <td th:text="${e.logradouro}"></td>
        <td th:text="${e.localidade}"></td>
        <td th:text="${e.uf}"></td>
    </tr>

</table>

</body>
</html>